{% extends "usuarios/instructor/instructor_base.html" %}
{% block title %}Dashboard Instructor{% endblock %}
{% block instructor_content %}
<div class="card p-5 shadow-sm h-100 text-center">
  <h5 class="card-title text-center">Bienvenido al Panel del Instructor</h5>
  <p class="text-muted">
    Selecciona una opción del menú de la izquierda para empezar a gestionar.
  </p>
  <div class="d-flex justify-content-center align-items-center flex-grow-1">
    <i class="bi bi-arrow-left-short display-1 text-muted"></i>
  </div>
</div>
{% endblock %}
