{% extends "usuarios/aprendiz/aprendiz_base.html" %}
{% block title %}Dashboard Aprendiz{% endblock %}
{% block aprendiz_content %}
<div class="card p-5 shadow-sm h-100 text-center">
  <h5 class="card-title">Bienvenido a tu Portal, {{ user.username|capfirst }}</h5>
  <p class="text-muted">
    Selecciona una opción del menú para consultar tu información académica.
  </p>
  <div class="d-flex justify-content-center align-items-center flex-grow-1">
    <i class="bi bi-arrow-left-short display-1 text-muted"></i>
  </div>
</div>
{% endblock %}
