{% extends "usuarios/aprendiz/aprendiz_base.html" %}
{% block title %}Mi Ficha{% endblock %}

{% block aprendiz_content %}
<style>
  .ficha-card {
    background-color: #96f5bdff;
    border: 3px solid #39A900;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  .ficha-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.3);
  }
  .card-header {
    background-color: #39A900 !important;
    color: #ffffff;
    border-bottom: 3px solid #07b449;
    border-radius: 9px 9px 0 0;
  }
  .badge {
    background-color: #39A900 !important;
    color: #ffffff;
    border: 1px solid #07b449;
  }
  .badge.bg-info {
    background-color: #f0f9f0 !important;
    color: #39A900 !important;
    border: 1px solid #39A900;
  }
  h4, h5 {
    color: #212529;
  }
  h5.mb-0 {
    color: #39A900;
  }
  hr {
    border-color: #39A900;
  }
</style>

<div class="card p-5 shadow-sm">
  <h1 class="mb-0 text-center">Información de mi Ficha</h1>
  <hr>

  {% if ficha %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <a href="{% url 'ficha_detalle_aprendiz' %}" class="text-decoration-none">
        <div class="card text-center ficha-card">
          <div class="card-header">
            <h4 'style=text-color: #f6f7f6ff' >Ficha #{{ ficha.numero }}</h4>
          </div>
          <div class="card-body p-4">
            <h5 class="card-title">{{ ficha.programa_nombre }}</h5>
            <p class="card-text">
              <span class="badge bg-info me-2">{{ ficha.jornada }}</span>
              <span class="badge"><i class="bi bi-people-fill me-1"></i>{{ ficha.aprendices_count }} Aprendices</span>
            </p>
            <p class="text-muted small">Inició el {{ ficha.fecha_inicio }} y finaliza el {{ ficha.fecha_fin }}</p>
            <p class="text-primary small">Haz clic para ver más detalles</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
